body,
html,
h1 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  color: white;
}

.top {
  /* width: 50%; */
  display: flex;
  justify-content: center;
}
main,
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}
.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, blue, red); */
}

.fullscreen1 {
  background: linear-gradient(45deg, green, orange);
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 70%;
}
.demo {
  position: absolute;
  width: 100%;
}
.svg {
  pointer-events: none;
  background-color: lightpink;
  resize: horizontal;
  overflow: hidden;
  width: 1000px;
  height: auto;
}
